@import "tailwindcss";

@plugin "@tailwindcss/typography";

@source "../components";
@source "../components/aceternity";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: var(--font-inter);
	--font-atkinson: var(--font-atkinson);
	--font-manrope: var(--font-manrope);

	--radius: 0.5rem;
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--shadow-input:
		0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
		0px 0px 0px 1px rgba(25, 28, 33, 0.08);

	--color-white: #f8f9fa;

	/* Keep default ring behavior from v3 */
	--default-ring-width: 3px;
	--default-ring-color: var(--color-blue-500);

	/* Background sizes and positions */
	--size-200: 200% 150%;
	--pos-0: 0% 0%;
	--pos-100: 100% 100%;

	/* Grid template columns */
	--grid-list: repeat(auto-fill, minmax(400px, max-content));

	/* define initial colours for seasonal colors, overwriten in layout.tsx */
	--color-cs-primary: #69893e;
  	--color-cs-secondary: #92b573;
  	--color-cs-tertiary: #a482a3;

	--primary: var(--color-cs-primary);
  	--secondary: var(--color-cs-secondary);
}

:root {
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary-foreground: 0 0% 98%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 240 10% 3.9%;
	--chart-1: 12 76% 61%;
	--chart-2: 173 58% 39%;
	--chart-3: 197 37% 24%;
	--chart-4: 43 74% 66%;
	--chart-5: 27 87% 67%;

}

.dark {
	--background: 240 10% 3.9%;
	--foreground: 0 0% 98%;
	--card: 240 10% 3.9%;
	--card-foreground: 0 0% 98%;
	--popover: 240 10% 3.9%;
	--popover-foreground: 0 0% 98%;
	--primary-foreground: 240 5.9% 10%;
	--secondary-foreground: 0 0% 98%;
	--muted: 240 3.7% 15.9%;
	--muted-foreground: 240 5% 64.9%;
	--accent: 240 3.7% 15.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 3.7% 15.9%;
	--input: 240 3.7% 15.9%;
	--ring: 240 4.9% 83.9%;
	--chart-1: 220 70% 50%;
	--chart-2: 160 60% 45%;
	--chart-3: 30 80% 55%;
	--chart-4: 280 65% 60%;
	--chart-5: 340 75% 55%;
}

.dark {
	--pagefind-ui-primary: #eeeeee;
	--pagefind-ui-text: #eeeeee;
	--pagefind-ui-background: #152028;
	--pagefind-ui-border: #152028;
	--pagefind-ui-tag: #152028;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800 dark:text-zinc-100;
	}
}

@utility btn {
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	background-color: var(--color-cs-primary);
	color: var(--color-white);
	transition: all 0.2s ease-in-out;
}

@font-face {
	font-family: "ArgentCF";
	src: url("/ArgentPixelCF-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: var(--font-sans);
}

.font-atkinson {
	font-family: var(--font-atkinson);
}

.font-manrope {
	font-family: var(--font-manrope);
}
